.footer {
    background-color: #33110D;
    padding: 40px 0 0;

    .content {
        display: flex;
        flex-wrap: wrap;

        .footer-item {
            margin-bottom: 60px;
            padding-right: 15px;

            &:nth-child(1),
            &:nth-child(5) {
                width: 23%;
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                width: 18%;
            }

            @media (max-width: 991.98px) {
                &:nth-child(1),
                &:nth-child(4),
                &:nth-child(5) {
                    width: 50%;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 25%;
                }
            }

            @media (max-width: 767.98px) {
                &:nth-child(1) {
                    width: 100%;
                }

                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(2),
                &:nth-child(3) {
                    width: 50%;
                }
            }

            h4 {
                font-size: 16px;
                line-height: 26px;
                padding-bottom: 10px;
                text-transform: capitalize;
                color: #E6BCB8;
            }

            ul {
                li {
                    margin-bottom: 15px;
                    margin-right: 0;
                    a {
                        font-size: 12px;
                        line-height: 22px;
                        color: $white;
                        font-weight: 300;
                        transition: $transition;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            };

            &.logo {
                p {
                    padding-top: 20px;
                    font-size: 12px;
                    line-height: 22px;
                    color: $white;
                    font-weight: 300;
                }

                .footer-social {
                    display: flex;

                    li {
                        margin-right: 15px;
                        margin-bottom: 0;

                        a {
                            font-size: 18px;
                            color: $white;
                            transition: $transition;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

            &.payment {
                ul {
                    display: flex;

                    li {
                        margin-bottom: 0;
                        margin-right: 8px;
                    }
                }

                p {
                    padding-top: 20px;
                    font-size: 12px;
                    line-height: 22px;
                    color: $white;

                    a {
                        color: #668CE8;
                        text-decoration: underline;
                    }
                }
            }
        }

        .copyright {
            width: 100%;
            height: 70px;
            border-top: 1px solid #5D3C38;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @media (max-width: 767.98px) {
                justify-content: center;
            }

            p {
                color: $white;
                text-align: center;
                margin-bottom: 0;
            }
        }
    }
}