.header {
    padding: 20px 35px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btns {
        display: flex;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 152px;
            height: 48px;
            margin-left: 15px;
            font-size: 16px;
            font-weight: 600;
            color: $white;
            border: 1px solid;

            span {
                margin: 0 12px;
            }

            &.custom-flag-btn {
                border-color: rgba(255, 255, 255, 0.2);
                border-radius: 24px;
            }

            &.custom-btn-border {
                border-color: $white;
            }

            &.custom-btn-bg {
                border-color: transparent;
                background-color: $primary-color;
            }
        }
    }
}