// Map;
.map {
    .img {
        min-height: 437px;
        position: relative;
        overflow: hidden;

        @media (max-width: 991.98px) {
            height: 458px;
        }

        img {
            height: 100%;
            max-width: none !important;
            min-width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}