// Service;
.services {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: $bgOne;

    .section-padding {
        height: 60px;

        @media (max-width: 991.98px) {
            height: 90px;
        }

        @media (max-width: 767.98px) {
            height: 300px;
        }
    }

    .service-item {
        margin-bottom: 20px;

        .img {
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
                transition: $transition;
            }

            .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                z-index: 9;
                display: flex;
                align-items: flex-end;

                .content {
                    padding: 15px 20px;

                    h4 {
                        font-size: 20px;
                        line-height: 30px;
                        font-weight: 400;
                        color: $white;
                    }
                }
            }
        }

        &:hover {
            .img {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

// How it work;
.how-work {
    padding: 50px 0 30px;
    background-color: $bgTwo;

    [class^="col"]:nth-child(2n) {
        .item {
            justify-content: flex-end;
        }
    }

    .content {
        position: relative;

        .center-line {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 27px;
            height: 70%;
            z-index: -1;
        
            &.screen-md,
            &.screen-sm {
                display: none;
            }

            @media (max-width: 1199.98px) {
                max-width: 170px;
                left: 52%;
            }

            @media (max-width: 991.98px) {
                &.screen-bg {
                    display: none;
                }
                
                &.screen-md {
                    display: block;
                    max-width: 500px;
                    left: 52%;
                    height: 78%;
                    top: 60px;
                }
            }

            @media (max-width: 767.98px) {
                &.screen-bg,
                &.screen-md {
                    display: none;
                }
                
                &.screen-sm {
                    display: block;
                    max-width: 400px;
                    left: 50%;
                    height: 71%;
                    top: 135px;
                }
            }

            @media (max-width: 460.98px) {
               
                &.screen-sm {
                    width: 100%;
                    left: 50%;
                }
            }
        }

        .item {
            margin-bottom: 45px;
            display: flex;
            align-items: center;


            .img {
                width: 165px;
            }

            .text {
                width: calc(100% - 165px);
                max-width: 220px;

                h4 {
                    font-size: 16px;
                }

                p {
                    font-size: 12px;
                    line-height: 24px;
                    color: #8E8E93;

                    @media (max-width: 575px) {
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}

// Defines;
.define {
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;

    .section-title {
        padding-bottom: 60px;
    }

    
    .content {
        position: relative;
        
        > img {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 50%;

            @media (max-width: 991.98px) {
                display: none;
            }
        }

        .item {
            padding-bottom: 20px;

            h3 {
                font-size: 24px;
                line-height: 34px;
                padding-top: 20px;
            }

            p {
                font-size: 14px;
                line-height: 28px;
                font-weight: 300;
            }
        }
    }
}


// Testimonial;
.testimonial {
    padding: 90px 0 130px;
    background: $bgOne;

    .title {
        i {
            font-size: 60px;
            color: rgba(0, 0, 0, 0.24);
        }

        h2 {
            font-size: 32px;
            line-height: 48px;
            padding-top: 30px;
        }

        p {
            font-size: 16px;
            line-height: 32px;
            font-weight: 300;
        }
    }

    .slider {

        @media (max-width: 991.98px) {
            width: 536px;
            max-width: 100%;
            margin: 43px auto 0;
        }

        .item {
            padding: 20px 30px;
            background-color: $white;

            p {
                font-size: 20px;
                line-height: 40px;
                color: #555770;
                margin-bottom: 20px;
            }

            .author {
                display: flex;
                align-items: center;

                .text {
                    padding-left: 18px;

                    h4 {
                        font-size: 16px;
                        line-height: 26px;
                        margin: 0;
                        color: #555770;
                    }

                    .ratings {
                        display: flex;

                        i {
                            color: $yellow;
                            padding-right: 4px;
                        }
                    }
                }
            }
        }

        .slick-dots {
            position: absolute;
            left: 50%;
            bottom: -30px;
            z-index: 99;
            transform: translateX(-50%);
            display: flex;

            li {
                width: 12px;
                height: 12px;
                margin: 0 4px;
                border-radius: 50%;
                background-color: #8F90A6;
                opacity: .09;
                cursor: pointer;

                button {
                    display: none;
                }

                &.slick-active {
                    opacity: 1;
                }
            }
        }
    }
}


// Map;
.map {
    .img {
        min-height: 437px;
        position: relative;
        overflow: hidden;

        @media (max-width: 991.98px) {
            height: 458px;
        }

        img {
            height: 100%;
            max-width: none !important;
            min-width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}