@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

// Color;
$primary-color: #D14335;
$hover-color : #D14335;
$bColor: #231F20;
$white : #ffffff;
$black : #000000;
$bgFour: rgba(72, 7, 0, 0.77);
$yellow: #FDDD48;

$bgOne: #F7F7F7;
$bgTwo: rgba(209, 66, 53, 0.04);

// Body;
$bodyFont: 'Sora', sans-serif;
$titleFont: 'Sora', sans-serif;
$bfSize: 14px;
$bLineHeight: 24px;
$fontWeight: 400;
$transition: all .4s;
